<h1>Log In</h1>

<form action="<%= session_url %>" method="POST">
  <%= form_token %>

  <label>Username:
    <input type="text" name="session[username]" value="">
  </label>

  <label>Password: <input type="password" name="session[password]" value=""></label>
  <input type="submit" value="Log in!">

</form>
